body {
  background-color: pink;
}

h1,
h2 {
  color: red;
}

.h1Question {
  text-align: center;
  margin: 5%;
  border: blue 1px solid;
}

/* 8 Questions */

.flexDisplay8 {
  border: 5px solid magenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 5%;
}

.grid8 {
  margin: 5%;
  border: 1px solid magenta;
  display: grid;
  gap: 25px;
  grid-template-areas:
    "text text"
    "text text"
    "text text"
    "text text";
}
.withinGrid {
  min-height: 220px;
  background-color: rgba(149, 147, 147, 0.816);
  color: white;
  padding: 0 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  line-height: 1.3em;
}

/* 9 Images */

.flexDisplay9 {
  border: 5px solid magenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 5%;
}

.grid9 {
  display: grid;
  gap: 25px;
  justify-content: center;
  grid-template-areas:
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo";
}

.gridImages img {
  height: 330px;
  width: 330px;
  object-fit: cover;
}

.gridImages img:hover {
  cursor: pointer;
}

/* 4 Questions */

.flexDisplay4 {
  border: 5px solid magenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 5%;
}

.grid4 {
  margin: 5%;
  border: 1px solid magenta;
  display: grid;
  gap: 25px;
  grid-template-areas:
    "text text"
    "text text"
    "text text"
    "text text";
}

.withinGrid4 {
  min-height: 220px;
  min-width: 100px;
  background-color: rgba(149, 147, 147, 0.816);
  color: white;
  padding: 0 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  line-height: 1.3em;
}

/* Result */

.displayResult {
  text-align: center;
}

.resultP {
  background-color: rgba(149, 147, 147, 0.816);
  color: white;
  padding: 5%;
  margin: 6% 17% 15% 17%;
  line-height: 1.5em;
  text-align: left;
  font-weight: bolder;
}

.gridImagesResult img {
  height: 75%;
  width: 75%;
  object-fit: cover;
}

/* buttons */

.buttonDiv button, .buttonFrontPage {
  /* background-color: rgba(149, 147, 147, 0.816);
color: white;
width: 60px; 
height: 60px;
border-radius: 50%;
border-color: transparent; */
  width: 60px;
  height: 60px;
  border-color: transparent;
  border-radius: 150px;
  background: #ffc0cb;
  box-shadow: 4px -4px 7px #ebb1bb, -4px 4px 7px #ffcfdb;
  color: rgba(255, 255, 255, 0.597);
  font-weight: bolder;
}

button:hover, .buttonFrontPage:hover {
  cursor: pointer;
  color: red;
  border-radius: 150px;
  background: #ffc0cb;
  box-shadow: inset -4px 4px 7px #ebb1bb, inset 4px -4px 7px #ffcfdb;
}

.buttonDiv {
  border: 1px solid magenta;
  display: flex;
  justify-content: end;
  padding: 3% 5% 1% 0;
}

/* Github Link */

.githubLink {
  font-weight: bolder;
  margin: 6%;
  padding: 3%;
  width: 180px;
  border-radius: 150px;
  background: #ffc0cb;
  box-shadow: -4px 4px 7px #ebb1bb, 4px -4px 7px #ffcfdb;
}

.githubLink:hover {
  border-radius: 150px;
  background: #ffc0cb;
  box-shadow: inset -4px 4px 7px #ebb1bb, inset 4px -4px 7px #ffcfdb;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: rgb(241, 220, 220);
}

/* front page */

.h1FrontPage {
  font-size: 2.7em;
  line-height: 60px;
  text-align: left;
  /* font-family: 'Playfair Display SC', serif; */
}

.frontSide1 {
  border: 3px solid purple;
  width: 40%;
  height: 75%;
  margin: 1% 0 0 1%;

}

.displayFrontPage {
  height: 100vh;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: magenta 3px solid;
}

.displayAnimation {
  border: 2px solid blue; 
  height: 40%;
  margin-top: 70%;
}

.buttonFrontDiv {
  border: 2px solid blue; 
display: flex;
justify-content: center;
  margin-top: 20%;
}

.architecture {
animation: colorChange 9s ease infinite;
min-height: 1em;
display: block;
border: 3px solid green;
}

@keyframes colorChange {
  0% {
    color: red;
    font-family: 'Playfair Display SC', serif;  
  }
  5% {
    color: blue;
    font-family: 'Source Code Pro', monospace;
  }
  /* 7% {
    color: white;
    font-family: 'Cinzel', serif;
  } */
  9% {
    color: rgba(13, 13, 13, 0.744);
    font-family: 'Fontdiner Swanky', cursive;
  }
  11% {
    color: blue;
    font-family: 'Source Code Pro', monospace;
  }
  14% {
    color: magenta;
    font-family: 'Montserrat', sans-serif;
  }
  20% {
    color: red;
    font-family: 'Playfair Display SC', serif;
  }
  /* 21% {
    color: white;
    font-family: 'Cinzel', serif;
  } */
  30% {
    color: blue;
    font-family: 'Source Code Pro', monospace;
  }
  /* 35% {
    color: grey;
  } */
  49% {
    color: rgb(18, 13, 107);
    font-family: 'Cinzel', serif;
  }
  53% {
    color: black;
  }
  69% {
    color: orange;
  }
  73% {
    color: red;
    font-family: 'Playfair Display SC', serif;
  }
  78% {
    color: blue; 
    font-family: 'Source Code Pro', monospace;
  }
  80% {
    color: magenta;
    font-family: 'Montserrat', sans-serif;
  }
  95% {
    color: rgba(98, 186, 76, 0.785);
    font-family: 'Fontdiner Swanky', cursive;
  }
  100% {
    color: red;
    font-family: 'Playfair Display SC', serif;
  }
}