body {
  background-color: pink;
}

h1,
h2 {
  color: red;
}

/* fontdiner-swanky-regular - latin */
@font-face {
  font-family: 'Fontdiner Swanky';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/fontdiner-swanky-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fontdiner-swanky-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.h1Question {
  text-align: center;
  margin: 5%;
  /* border: blue 1px solid; */
}

/* 8 Questions */

.flexDisplay8 {
  /* border: 5px solid magenta; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 5%;
}

.grid8 {
  margin: 5%;
  /* border: 1px solid magenta; */
  display: grid;
  gap: 25px;
  grid-template-areas:
    "text text"
    "text text"
    "text text"
    "text text";
}

.grid8 div:hover,
.grid4 div:hover {
  cursor: pointer;
  background-color: grey;
}

.withinGrid {
  margin: 0 auto;
  min-height: 220px;
  /* min-width: 110px;
  max-width: 110px; */
  min-width: 80%;
  max-width: 80%;
  background-color: rgba(149, 147, 147, 0.816);
  color: white;
  padding: 0 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  line-height: 1.3em;
}

/* 9 Images */

.flexDisplay9 {
  /* border: 5px solid magenta; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 5%;
}

.grid9 {
  display: grid;
  gap: 25px;
  justify-content: center;
  grid-template-areas:
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo";
}

.gridImages img {
  height: 330px;
  width: 330px;
  object-fit: cover;
}

.gridImages img:hover {
  cursor: pointer;
}

.crow {
}

.grid9 .crow {
}

.grid9 .crow img {
  object-position: 0;
}

/* 4 Questions */

.flexDisplay4 {
  /* border: 5px solid magenta; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 5%;
}

.grid4 {
  margin: 5%;
  /* border: 1px solid magenta; */
  display: grid;
  gap: 25px;
  grid-template-areas:
    "text text"
    "text text";
}

.withinGrid4 {
  margin: 0 auto;
  min-height: 180px;
  min-width: 120px;
  max-width: 120px;
  background-color: rgba(149, 147, 147, 0.816);
  color: white;
  padding: 0 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  line-height: 1.3em;
}

/* Result */

.displayResult {
  text-align: center;
}

.resultP {
  background-color: rgba(149, 147, 147, 0.816);
  color: white;
  padding: 5%;
  margin: 6% 17% 15% 17%;
  line-height: 1.5em;
  text-align: left;
  font-weight: bolder;
}

.gridImagesResult img {
  height: 75%;
  width: 75%;
  object-fit: cover;
}

/* buttons */

.buttonDiv button,
.buttonFrontPage {
  /* background-color: rgba(149, 147, 147, 0.816);
color: white;
width: 60px; 
height: 60px;
border-radius: 50%;
border-color: transparent; */
  width: 60px;
  height: 60px;
  border-color: transparent;
  border-radius: 150px;
  background: #ffc0cb;
  box-shadow: 4px -4px 7px #ebb1bb, -4px 4px 7px #ffcfdb;
  color: rgba(255, 255, 255, 0.597);
  font-weight: bolder;
}

button:hover,
.buttonFrontPage:hover {
  cursor: pointer;
  color: rgba(223, 140, 140, 0.649);
  border-radius: 150px;
  background: #ffc0cb;
  box-shadow: inset -4px 4px 7px #ebb1bb, inset 4px -4px 7px #ffcfdb;
}

.buttonDiv {
  /* border: 1px solid magenta; */
  display: flex;
  justify-content: end;
  padding: 3% 5% 1% 0;
}

/* Github Link */

.githubLink {
  font-weight: bolder;
  margin: 6%;
  padding: 3%;
  width: 180px;
  border-radius: 150px;
  background: #ffc0cb;
  box-shadow: -4px 4px 7px #ebb1bb, 4px -4px 7px #ffcfdb;
}

.githubLink:hover {
  border-radius: 150px;
  background: #ffc0cb;
  box-shadow: inset -4px 4px 7px #ebb1bb, inset 4px -4px 7px #ffcfdb;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: rgb(241, 220, 220);
}

/* front page */

.h1FrontPage {
  font-size: 2.7em;
  line-height: 60px;
  text-align: left;
  /* font-family: 'Playfair Display SC', serif; */
}

.frontSide1 {
  /* border: 3px solid purple; */
  width: 40%;
  height: 75%;
  margin: 1% 0 0 3%;
}

.displayFrontPage {
  height: 100vh;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* border: magenta 3px solid; */
}

.displayAnimation {
  /* border: 2px solid blue;  */
  height: 40%;
  width: 400px;
  margin-top: 70%;
  position: relative;
}

.buttonFrontDiv {
  /* border: 2px solid blue;  */
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.architecture {
  min-height: 1em;
  display: block;
  /* border: 3px solid green; */
  animation: colorChange 9s ease infinite;
  font-family: "Playfair Display SC", serif;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  5% {
    color: blue;
    font-family: "Source Code Pro", monospace;
  }
  9% {
    color: rgba(13, 13, 13, 0.744);
    font-family: "Fontdiner Swanky", cursive;
  }
  11% {
    color: blue;
    font-family: "Source Code Pro", monospace;
  }
  14% {
    color: magenta;
    font-family: "Montserrat", sans-serif;
  }
  20% {
    color: red;
    font-family: "Playfair Display SC", serif;
  }
  30% {
    color: blue;
    font-family: "Source Code Pro", monospace;
  }
  49% {
    color: rgb(18, 13, 107);
    font-family: "Cinzel", serif;
  }
  53% {
    color: black;
  }
  69% {
    color: orange;
  }
  73% {
    color: red;
    font-family: "Playfair Display SC", serif;
  }
  78% {
    color: blue;
    font-family: "Source Code Pro", monospace;
  }
  80% {
    color: magenta;
    font-family: "Montserrat", sans-serif;
  }
  95% {
    color: rgba(98, 186, 76, 0.785);
    font-family: "Fontdiner Swanky", cursive;
  }
  100% {
    color: red;
    font-family: "Playfair Display SC", serif;
  }
}

/* icons */

.icon {
  font-size: 10em;
  /* position: absolute; */
  left: 8%;
  top: 10%;
  animation: colorChange 9s ease infinite;
  position: relative;
}

.icon:after {
  position: absolute;
  font-family: "FontAwesome";
  /* left: 8%;
  top: 10%; */
  content: "\f015";
  animation: iconChange 9s ease infinite;
}

@keyframes iconChange {
  0% {
    content: "\f015";
  }
  5% {
    content: "\f19c";
  }
  9% {
    content: "\f6a1";
  }
  11% {
    content: "\f015";
  }
  14% {
    content: "\f1ad";
  }
  20% {
    content: "\f594";
  }
  30% {
    content: "\f015";
  }
  49% {
    content: "\f7ae";
  }
  53% {
    content: "\f51d";
  }
  69% {
    content: "\f1ad";
  }
  73% {
    content: "\f594";
  }
  78% {
    content: "\f1ad";
  }
  80% {
    content: "\f6a1";
  }
  95% {
    content: "\f015";
  }
  100% {
    content: "\f54f";
  }
}

/* Media Queries */

@media (min-width: 500px) {
  .displayAnimation {
    margin-top: 0;
    height: 75%;
  }

  .icon {
    top: 280px;
  }

  .withinGrid4 {
    min-width: 160px;
    max-width: 160px;
  }
}

@media (min-width: 600px) {
  .frontSide1 {
    margin: 12% 0 0 9%;
  }

  .displayAnimation {
    /* margin-top: 65%; */
  }

  .icon {
    font-size: 13em;
    left: -30px;
  }

  .withinGrid4,
  .withinGrid {
    min-width: 200px;
    max-width: 200px;
  }

  .grid9 {
    grid-template-areas:
      "photo photo photo"
      "photo photo photo"
      "photo photo photo";
  }

  .gridImages img {
    height: 130px;
    width: 130px;
    object-fit: cover;
  }
}

@media (min-width: 712px) {
  .frontSide1 {
    margin: 3% 0 0 9%;
  }
  .displayAnimation {
    /* margin-top: 50%; */
  }

  .grid4 {
    gap: 25px;
    width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  .withinGrid4 {
    margin: 0 auto;
    min-width: 200px;
    max-width: 200px;
  }

  .gridImagesResult img {
    max-height: 500px;
    max-width: 500px;
    object-fit: contain;
  }
}

@media (min-width: 800px) {
  .displayFrontPage {
    justify-content: center;
  }

  .h1Question {
    margin-top: 0;
  }

  .frontSide1 {
    width: 20%;
  }

  .displayAnimation {
    /* margin-top: 50%; */
  }

  .icon {
    font-size: 17em;
    left: 50px;
    /* top: -50px */
  }

  .withinGrid {
    min-width: 130px;
    max-width: 130px;
  }

  .grid8 {
    grid-template-areas:
      "text text text text"
      "text text text text";
  }

  .grid9 {
    grid-template-areas:
      "photo photo photo"
      "photo photo photo"
      "photo photo photo";
  }

  .gridImages img {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
}

@media (min-width: 900px) {
  .icon {
    font-size: 19em;
    left: 0;
    /* top: -200px */
  }

  .withinGrid {
    min-width: 130px;
    max-width: 130px;
  }

  .grid4 {
    margin-top: -5px;
  }

  .grid8 {
    margin-top: -20px;
  }
}

@media (min-width: 1000px) {
  .withinGrid {
    min-width: 170px;
    max-width: 170px;
  }
  .grid9 {
    grid-template-areas:
      "photo photo photo"
      "photo photo photo"
      "photo photo photo";
  }

  .gridImages img {
    height: 180px;
    width: 180px;
    object-fit: cover;
  }
}

@media (min-width: 1330px) {
  .grid9 {
    grid-template-areas:
      "photo photo photo"
      "photo photo photo"
      "photo photo photo";
  }

  .gridImages img {
    height: 230px;
    width: 230px;
    object-fit: cover;
  }
}


.codeLink {
width: 100%;
display: flex;
justify-content: center;
  margin-bottom: 15%;
}