body {
  background-color: pink;
}

h1,
h2 {
  color: red;
}

.h1Question {
  margin: 5%;
  border: blue 1px solid;
}

/* 8 Questions */

.grid8 {
  margin: 5%;
  border: 1px solid magenta;
  display: grid;
  gap: 25px;
  justify-content: center;
  grid-template-areas:
    "text text"
    "text text"
    "text text"
    "text text";
}
.withinGrid {
  min-height: 180px;
  background-color: rgba(149, 147, 147, 0.816);
  color: white;
  padding: 0 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  line-height: 1.3em;
}

/* 9 Images */

.FlexDisplay9 {
  border: 5px solid magenta;
display: flex;
flex-direction: column;
justify-content: center;
overflow: hidden;
padding: 5%;
}

.grid9 {
  display: grid;
  gap: 25px;
  justify-content: center;
  grid-template-areas:
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
    "photo"
  }


.gridImages img {
  height: 370px;
  width: 370px;
  object-fit: cover;
}

